.paginator-links {}

.paginator-links .start-ellipsis::before,
.paginator-links .end-ellipsis::before {
    content: '...';
}

.paginator-links .paginator-seperator::before {
    content: ',';
}

.paginator-links .paginator-number.current {
    font-weight: bold;
}
